In [147]:
import pandas as pd
import numpy as np
import joblib
import json 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb 
from sklearn.svm import SVC 
from sklearn.neural_network import  MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import brier_score_loss 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import log_loss 
from sklearn.metrics import roc_auc_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA 
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.calibration import CalibratedClassifierCV
import seaborn as sns 
import matplotlib.pyplot as plt

In [ ]:
def predict_tournament_games(year, model_path="best_xgb_model.model", best_features_path="best_features.json", data_path="../data/modeling/final_ml.csv", teams_path="../data/MTeams.csv"):
    # Load the data
    df_test = pd.read_csv(data_path)
    df_seeds = df_test[['Team1', 'Team2', 'Season', 'Seed_1', 'Seed_2']]
    df_test = pd.get_dummies(df_test, columns=['Seed_1', 'Seed_2'], prefix=['T1_Seed','T2_Seed'], dtype=int)

    MTeams = pd.read_csv(teams_path)
    MTeams.drop(columns=['FirstD1Season', 'LastD1Season'], inplace=True)

    # Load the best features from JSON
    with open(best_features_path, "r") as f:
        best_features = json.load(f)

    # Extract the selected features
    select_features = ['reg_season_pred']
    best_feats = best_features["selected_features"]
    selected_features = select_features + best_feats

    print("Selected Features:", selected_features)

        # Extract the Brier score for the specified year
    brier_score_for_year = None
    for entry in best_features["brier_scores"]:
        if entry["season"] == year:
            brier_score_for_year = entry["brier_score"]
            break

    print(f"Season {year} Brier Score: {brier_score_for_year}")
    print(f"Brier Score on test set: {best_features['brier_score']}")

    seed_columns = [col for col in df_test.columns if 'seed' in col.lower()]
    feature_columns = selected_features + seed_columns

    # Filter games for the specified year
    tourney_year_data = df_test[df_test['Season'] == year]

    # Prepare test data
    X_year = tourney_year_data[feature_columns]
    y_year = tourney_year_data['Team1_Wins']

    # Load the trained model
    loaded_model = xgb.XGBClassifier()
    loaded_model.load_model(model_path)

    # Get predicted probabilities for the year's games
    y_pred_probs_year = loaded_model.predict_proba(X_year)[:, 1]  # Prob for Team1 winning

    # Create a DataFrame with results
    predictions_year = pd.DataFrame({
        'Team1_Wins': y_year,
        'Predicted_Prob_Team1_Wins': y_pred_probs_year,
        'Team1': tourney_year_data['Team1'], 
        'Team2': tourney_year_data['Team2'], 
        'Season': year
    })

    # Merge with seed data
    predictions_year = predictions_year.merge(df_seeds, on=['Team1', 'Team2', 'Season'], how='left')

    # Merge with team names
    predictions_year = predictions_year.merge(MTeams, how='left', right_on=['TeamID'], left_on=['Team1'])
    predictions_year = predictions_year.rename(columns={'TeamName': 'TeamName_1'})

    predictions_year = predictions_year.merge(MTeams, how='left', right_on=['TeamID'], left_on=['Team2'])
    predictions_year = predictions_year.rename(columns={'TeamName': 'TeamName_2'})

    # Clean up the DataFrame
    predictions_year.drop(columns=['TeamID_x', 'TeamID_y'], inplace=True)
    predictions_year = predictions_year.reindex(columns=[
        'Seed_1', 'Team1', 'TeamName_1', 'Seed_2', 'Team2', 'TeamName_2', 
        'Predicted_Prob_Team1_Wins', 'Team1_Wins'
    ])

    return predictions_year

In [160]:
# Example usage
year = 2023
model_path = "best_xgb_model.model"
best_features_path = "best_features.json"
data_path = "../data/modeling/final_ml.csv"
teams_path = "../data/MTeams.csv"

predictions = predict_tournament_games(year)

# Show all rows
pd.set_option("display.max_rows", None)
predictions

Selected Features: ['reg_season_pred', 'Win_Percentage_1', 'Win_Percentage_2', 'Win_pct_last_10_games_1', 'Win_pct_last_10_games_2', 'defensiveRating_1', 'defensiveRating_2', 'Turnovers_Per_Game_1', 'Turnovers_Per_Game_2', '3PAr_1', '3PAr_2', 'Offensive_Rebound_Rate_1', 'Offensive_Rebound_Rate_2', 'offensiveRating_1', 'offensiveRating_2', 'Pace_1', 'Pace_2']
Season 2023 Brier Score: 0.17844007966399103
Average Brier Score: 0.16002318726712422

,Seed_1,Team1,TeamName_1,Seed_2,Team2,TeamName_2,Predicted_Prob_Team1_Wins,Team1_Wins
0,11,1338,Pittsburgh,11,1280,Mississippi St,0.607492,1
1,16,1394,TAM C. Christi,16,1369,SE Missouri St,0.656620,1
2,11,1113,Arizona St,11,1305,Nevada,0.419854,1
3,16,1192,F Dickinson,16,1411,TX Southern,0.638880,1
4,1,1104,Alabama,16,1394,TAM C. Christi,0.853838,1
5,8,1116,Arkansas,9,1228,Illinois,0.590486,1
6,9,1120,Auburn,8,1234,Iowa,0.463500,1
7,5,1181,Duke,12,1331,Oral Roberts,0.798741,1
8,13,1202,Furman,4,1438,Virginia,0.314721,1
9,1,1222,Houston,16,1297,N Kentucky,0.885139,1
10,1,1242,Kansas,16,1224,Howard,0.885963,1
11,8,1268,Maryland,9,1452,West Virginia,0.523350,1
12,7,1281,Missouri,10,1429,Utah St,0.474224,1
13,7,1321,Northwestern,10,1129,Boise St,0.653638,1
14,10,1336,Penn St,7,1401,Texas A&M,0.460428,1
15,15,1343,Princeton,2,1112,Arizona,0.252375,1
16,5,1361,San Diego St,12,1158,Col Charleston,0.793524,1
17,4,1397,Tennessee,13,1418,Louisiana,0.850315,1
18,2,1400,Texas,15,1159,Colgate,0.849615,1
19,2,1417,UCLA,15,1421,UNC Asheville,0.885279,1
20,3,1124,Baylor,14,1364,UC Santa Barbara,0.837871,1
21,4,1163,Connecticut,13,1233,Iona,0.880942,1
22,6,1166,Creighton,11,1301,NC State,0.528947,1
23,16,1192,F Dickinson,1,1345,Purdue,0.142111,1
24,9,1194,FL Atlantic,8,1272,Memphis,0.630526,1
25,3,1211,Gonzaga,14,1213,Grand Canyon,0.870883,1
26,4,1231,Indiana,13,1245,Kent,0.751084,1
27,3,1243,Kansas St,14,1286,Montana St,0.838443,1
28,6,1246,Kentucky,11,1344,Providence,0.496952,1
29,2,1266,Marquette,15,1436,Vermont,0.813192,1
30,5,1274,Miami FL,12,1179,Drake,0.834702,1
31,7,1277,Michigan St,10,1425,USC,0.506577,1
32,11,1338,Pittsburgh,6,1235,Iowa St,0.482562,1
33,5,1388,St Mary's CA,12,1433,VCU,0.717223,1
34,6,1395,TCU,11,1113,Arizona St,0.587110,1
35,3,1462,Xavier,14,1244,Kennesaw,0.885724,1
36,1,1104,Alabama,8,1268,Maryland,0.726831,1
37,8,1116,Arkansas,1,1242,Kansas,0.268069,1
38,1,1222,Houston,9,1120,Auburn,0.813895,1
39,15,1343,Princeton,7,1281,Missouri,0.356665,1
40,5,1361,San Diego St,13,1202,Furman,0.831586,1
41,4,1397,Tennessee,5,1181,Duke,0.447022,1
42,2,1400,Texas,10,1336,Penn St,0.494879,1
43,2,1417,UCLA,7,1321,Northwestern,0.670053,1
44,4,1163,Connecticut,5,1388,St Mary's CA,0.601594,1
45,6,1166,Creighton,3,1124,Baylor,0.445063,1
46,9,1194,FL Atlantic,16,1192,F Dickinson,0.839197,1
47,3,1211,Gonzaga,6,1395,TCU,0.787637,1
48,3,1243,Kansas St,6,1246,Kentucky,0.524799,1
49,5,1274,Miami FL,4,1231,Indiana,0.653727,1
50,7,1277,Michigan St,2,1266,Marquette,0.461049,1
51,3,1462,Xavier,11,1338,Pittsburgh,0.509196,1
52,4,1163,Connecticut,8,1116,Arkansas,0.613640,1
53,9,1194,FL Atlantic,4,1397,Tennessee,0.487970,1
54,3,1211,Gonzaga,2,1417,UCLA,0.531343,1
55,3,1243,Kansas St,7,1277,Michigan St,0.430580,1
56,6,1166,Creighton,15,1343,Princeton,0.814374,1
57,5,1274,Miami FL,1,1222,Houston,0.375746,1
58,5,1361,San Diego St,1,1104,Alabama,0.422006,1
59,2,1400,Texas,3,1462,Xavier,0.601630,1
60,4,1163,Connecticut,3,1211,Gonzaga,0.565544,1
61,9,1194,FL Atlantic,3,1243,Kansas St,0.555460,1
62,5,1274,Miami FL,2,1400,Texas,0.554398,1
63,5,1361,San Diego St,6,1166,Creighton,0.617995,1
64,4,1163,Connecticut,5,1274,Miami FL,0.586549,1
65,5,1361,San Diego St,9,1194,FL Atlantic,0.470651,1
66,4,1163,Connecticut,5,1361,San Diego St,0.558688,1
67,11,1280,Mississippi St,11,1338,Pittsburgh,0.360326,0
68,16,1369,SE Missouri St,16,1394,TAM C. Christi,0.269586,0
69,11,1305,Nevada,11,1113,Arizona St,0.474016,0
70,16,1411,TX Southern,16,1192,F Dickinson,0.286987,0
71,16,1394,TAM C. Christi,1,1104,Alabama,0.123043,0
72,9,1228,Illinois,8,1116,Arkansas,0.341385,0
73,8,1234,Iowa,9,1120,Auburn,0.376666,0
74,12,1331,Oral Roberts,5,1181,Duke,0.214286,0
75,4,1438,Virginia,13,1202,Furman,0.729983,0
76,16,1297,N Kentucky,1,1222,Houston,0.145967,0
77,16,1224,Howard,1,1242,Kansas,0.101825,0
78,9,1452,West Virginia,8,1268,Maryland,0.386305,0
79,10,1429,Utah St,7,1281,Missouri,0.589858,0
80,10,1129,Boise St,7,1321,Northwestern,0.288962,0
81,7,1401,Texas A&M,10,1336,Penn St,0.456626,0
82,2,1112,Arizona,15,1343,Princeton,0.828198,0
83,12,1158,Col Charleston,5,1361,San Diego St,0.175853,0
84,13,1418,Louisiana,4,1397,Tennessee,0.192770,0
85,15,1159,Colgate,2,1400,Texas,0.169983,0
86,15,1421,UNC Asheville,2,1417,UCLA,0.110833,0
87,14,1364,UC Santa Barbara,3,1124,Baylor,0.173323,0
88,13,1233,Iona,4,1163,Connecticut,0.184737,0
89,11,1301,NC State,6,1166,Creighton,0.492128,0
90,1,1345,Purdue,16,1192,F Dickinson,0.868082,0
91,8,1272,Memphis,9,1194,FL Atlantic,0.321842,0
92,14,1213,Grand Canyon,3,1211,Gonzaga,0.180912,0
93,13,1245,Kent,4,1231,Indiana,0.284149,0
94,14,1286,Montana St,3,1243,Kansas St,0.172031,0
95,11,1344,Providence,6,1246,Kentucky,0.528997,0
96,15,1436,Vermont,2,1266,Marquette,0.206773,0
97,12,1179,Drake,5,1274,Miami FL,0.148765,0
98,10,1425,USC,7,1277,Michigan St,0.333238,0
99,6,1235,Iowa St,11,1338,Pittsburgh,0.475011,0
100,12,1433,VCU,5,1388,St Mary's CA,0.353599,0
101,11,1113,Arizona St,6,1395,TCU,0.346035,0
102,14,1244,Kennesaw,3,1462,Xavier,0.143862,0
103,8,1268,Maryland,1,1104,Alabama,0.222951,0
104,1,1242,Kansas,8,1116,Arkansas,0.661325,0
105,9,1120,Auburn,1,1222,Houston,0.178586,0
106,7,1281,Missouri,15,1343,Princeton,0.722604,0
107,13,1202,Furman,5,1361,San Diego St,0.179655,0
108,5,1181,Duke,4,1397,Tennessee,0.564929,0
109,10,1336,Penn St,2,1400,Texas,0.409205,0
110,7,1321,Northwestern,2,1417,UCLA,0.370475,0
111,5,1388,St Mary's CA,4,1163,Connecticut,0.434953,0
112,3,1124,Baylor,6,1166,Creighton,0.522953,0
113,16,1192,F Dickinson,9,1194,FL Atlantic,0.164564,0
114,6,1395,TCU,3,1211,Gonzaga,0.271417,0
115,6,1246,Kentucky,3,1243,Kansas St,0.487378,0
116,4,1231,Indiana,5,1274,Miami FL,0.376856,0
117,2,1266,Marquette,7,1277,Michigan St,0.555545,0
118,11,1338,Pittsburgh,3,1462,Xavier,0.574951,0
119,8,1116,Arkansas,4,1163,Connecticut,0.378234,0
120,4,1397,Tennessee,9,1194,FL Atlantic,0.463939,0
121,2,1417,UCLA,3,1211,Gonzaga,0.493104,0
122,7,1277,Michigan St,3,1243,Kansas St,0.484776,0
123,15,1343,Princeton,6,1166,Creighton,0.217748,0
124,1,1222,Houston,5,1274,Miami FL,0.632722,0
125,1,1104,Alabama,5,1361,San Diego St,0.586481,0
126,3,1462,Xavier,2,1400,Texas,0.464924,0
127,3,1211,Gonzaga,4,1163,Connecticut,0.530162,0
128,3,1243,Kansas St,9,1194,FL Atlantic,0.344553,0
129,2,1400,Texas,5,1274,Miami FL,0.501725,0
130,6,1166,Creighton,5,1361,San Diego St,0.380494,0
131,5,1274,Miami FL,4,1163,Connecticut,0.478130,0
132,9,1194,FL Atlantic,5,1361,San Diego St,0.482173,0
133,5,1361,San Diego St,4,1163,Connecticut,0.470647,0

In [ ]:
pd.set_option("display.max_columns", None) 
df_full = pd.read_csv("../data/modeling/final_ml.csv")


df = df_full.drop(columns=['Team1', 'Team2', 'ConfAbbrev_1', 'ConfAbbrev_2', 'Threes_Per_Game_1', 'Threes_Per_Game_2', 'Free_Throws_Per_Game_1', 'Free_Throws_Per_Game_2'])
df = pd.get_dummies(df, columns=['Seed_1', 'Seed_2'], prefix=['T1_Seed','T2_Seed'], dtype=int)

X = df.drop(columns=['Season','Team1_Wins'])
y = df['Team1_Wins']
df_full.head(5)

In [ ]:
# Train the tuned XGBoost model
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

loaded_model = xgb.XGBClassifier() 
loaded_model.load_model("best_xgb_model.model")

'''
xgb_model = xgb.XGBClassifier(
    objective="binary:logistic", eval_metric="logloss",
)
xgb_model.fit(X_train, y_train)
xgb_model.save_model('xgb_model_2.json')
'''

In [ ]:
columns_to_drop = ['Team1', 'Team2', 'Seed_1', 'Seed_2', 'ConfAbbrev_1', 'ConfAbbrev_2']
columns_to_drop += [col for col in df_full.columns if col.endswith('_2')]

# Calculate the correlation matrix
df_corr = df_full.drop(columns=columns_to_drop)
correlation_matrix = df_corr.corr()

# Set up the matplotlib figure
plt.figure(figsize=(12, 10))

# Draw the heatmap
sns.heatmap(correlation_matrix, annot=True, fmt=".2f", cmap="coolwarm", vmin=-1, vmax=1, linewidths=0.5)

# Add title and labels
plt.title("Feature Correlation Matrix")
plt.show()

In [ ]:
# Set a correlation threshold
threshold = 0.8

# Find highly correlated features
highly_correlated = set()  # Use a set to avoid duplicate pairs

for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > threshold:
            colname_i = correlation_matrix.columns[i]
            colname_j = correlation_matrix.columns[j]
            highly_correlated.add((colname_i, colname_j, correlation_matrix.iloc[i, j]))

# Convert the set to a list and sort by correlation in descending order
highly_correlated_sorted = sorted(highly_correlated, key=lambda x: abs(x[2]), reverse=True)

# Display highly correlated feature pairs in descending order
print("Highly Correlated Feature Pairs (Descending Order):")
for pair in highly_correlated_sorted:
    print(f"{pair[0]} and {pair[1]} (Correlation: {pair[2]:.2f})")

In [ ]:
pd.set_option("display.max_rows", None) 

# Assuming xgb_model is your trained XGBoost model
feature_importance = pd.DataFrame({
    'Feature': X_train.columns,  
    'Importance': xgb_model.feature_importances_
})

# Sort by importance (ascending or descending)
feature_importance = feature_importance.sort_values(by='Importance', ascending=False)

# Show all rows
pd.set_option("display.max_rows", None)
print(feature_importance)